.places {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1 {
    font-size: 30px;
    margin-inline-end: 100%;
    margin-inline-start: 100px;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF545F;
    border-radius: 4px;
    justify-content: center;
}
.places h2 {
    font-size: 30px;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
}
.price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    margin-inline-start: 80%;
    line-height: 55px;
    text-align: center;
    margin-bottom: inherit;
    margin-top: -20px;
}
.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
}
.max_guest {
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    line-height: 7.5;
}
.number_rooms {
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    line-height: 7.5;
}
.number_bathrooms {
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    line-height: 7.5;
}
.user {
    margin-top: inherit;
}
.description {
    margin-top: inherit;
}
.places div.amenities h2 {
    margin-top: 10%; 
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}
.places div.amenities ul {
    list-style: none;
    padding-inline-start: 0;
    margin-left: 0;
    margin-right: 0;
}
.tv {
    padding-left: 1em;
    text-indent: -1em;
}
.tv::before {
    background-image: url('../images/icon_tv.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: -webkit-inline-box;
    width: 10px; 
    height: 19px;
    padding-right: 20px;
    padding-bottom: 4px;
    content:"";
}
.wifi {
    padding-left: 1em;
    text-indent: -1em;
}
.wifi::before {
    background-image: url('../images/icon_wifi.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: -webkit-inline-box;
    width: 10px; 
    height: 19px;
    padding-right: 20px;
    padding-bottom: 4px;
    content:"";
}
.pets {
    padding-left: 1em;
    text-indent: -1em;
}
.pets::before {
    background-image: url('../images/icon_pets.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: -webkit-inline-box;
    width: 10px; 
    height: 19px;
    padding-right: 20px;
    padding-bottom: 4px;
    content:"";
}
.reviews h2 {
    margin-top: 10%; 
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}
.reviews ul{
    list-style: none;
    padding-inline-start: 0%;
}
.reviews h3 {
    font-size: 14px;
    text-align: left;
    margin-bottom: 2px;
}
.reviews p {
    font-size: 12px;
    text-align: left;
    margin-top: 0;
}